<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/logout">logout</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/members">Members</a>
        </li>
      </ul>
      {{!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> --}}
    </div>
  </div>
</nav>
<h1>Favorite Jobs</h1>

<div class="container">
  {{!-- Form --}}
  <form>
    <fieldset>
      <legend class="legend">Enter a job</legend>
      <div class="row">
        <div class="col">Job Title
          <input type="text" class="form-control" id="form-title" placeholder="Job Title">
        </div>
        <div class="col">Company
          <input type="text" class="form-control" id="form-company" placeholder="Company">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">Location
          <input type="text" class="form-control" id="form-location" placeholder="Location">
        </div>
        <div class="col">Description
          <input type="text" class="form-control" id="form-snippit" placeholder="Description">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">Link
          <input type="text" class="form-control" id="form-link" placeholder="url">
        </div>
        <div class="col">Salary
          <input type="number" class="form-control" id="form-salary" aria-describedby="salary" value="0" placeholder="Salary">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">Deadline
          <input type="text" class="form-control" id="form-deadline">
        </div>

        {{!-- <div class="col">
          <input type="text" class="form-control" id="form-deadline" placeholder="Deadline">
        </div> --}}
        <div class="col">
          <label for="form-notes">Notes</label>
          <input type="text" class="form-control" id="form-notes">
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col">
          <label for="form-status">Application Status</label>
          <select class="form-control" id="form-status">
            <option></option>
            <option>Interested</option>
            <option>Working on Application</option>
            <option>Applied</option>
            <option>Interviewing</option>
            <option>Waiting for offer</option>
            <option>Offered Job</option>
            <option>Unknown</option>
            <option>No offer</option>
          </select>
        </div>
        <div class="col">
          <div class="col">
            <label for="form-interest">Interest Level</label>
            <select class="form-control" id="form-interest">
              <option></option>
              <option>High</option>
              <option>Medium</option>
              <option>Low</option>
            </select>
          </div>
        </div>


      </div>
      <br>
      <input class="btn btn-primary" type="submit" id="submit" value="Submit">
    </fieldset>
  </form>


  {{#if Jobs}}
  {{#each Jobs}}
  <div id= "card-{{id}}" class="card">
    <div class="col">
      <span class="job-card-view-field">
        <h5 class="card-header" id="title-{{{id}}}">{{jobtitle}}</h5>
      </span> <input type="text" class="job-card-edit-field form-control" id="jobTitle-edit-{{ id }}"
        value="{{jobtitle}}" style="display: none;"></input>
    </div>


    <div class="card-body">
      <div class="row">
        <span class="job-card-view-field">
          <h5 class="card-title" id="company-{{id}}">{{company}}</h5>
        </span>
        <input type="text" class="job-card-edit-field form-control" id="company-edit-{{ id }}" value="{{company}}"
          style="display: none;">
      </div>
      <br>


      <div class="row">
        <div class="col">
          <div class="card-text" id="salary-{{id}}"><span class="favorite">Salary: </span><span
              class="job-card-view-field">{{salary}}</span>
            <input type="number" class="job-card-edit-field form-control" id="salary-edit-{{ id }}" value="{{salary}}"
              aria-describedby="salary" style="display: none;">
          </div>
        </div>
        <div class="col">
          <div class="card-text" id="formattedLocation-{{id}}"><span class="favorite">Location: </span><span
              class="job-card-view-field">{{formattedLocation}}</span> <input type="text"
              class="job-card-edit-field form-control" id="formattedLocation-edit-{{ id }}"
              value="{{formattedLocation}}" style="display: none;"></input></div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card-text" id="snippet-{{id}}"><span class="favorite">Description: </span><span
              class="job-card-view-field">{{snippit}}</span> <input type="text" class="job-card-edit-field form-control"
              id="snippit-edit-{{id}}" value="{{snippit}}" style="display: none;"></div>
        </div>
        <div class="col">

          <div class="card-text" id="url-{{id}}"><span class="favorite">Link: </span><span class="job-card-view-field">
            <a href="{{url}}">{{url}}</a></span>
            <input type="text" class="job-card-edit-field form-control" id="url-edit-{{ id }}" value="{{url}}"
              style="display: none;">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card-text" id="deadline-{{id}}"><span class="favorite">Deadline: </span><span
              class="job-card-view-field">{{deadline}}</span> <input type="text"
              class="job-card-edit-field form-control date-edit" id="deadline-edit-{{ id }}" value="{{deadline}}"
              style="display: none;"></div>
        </div>
        <div class="col">
          <div class="card-text" id="notes-{{id}}"><span class="favorite">Notes: </span><span
              class="job-card-view-field">{{notes}}</span>
            <input type="text" class="job-card-edit-field form-control" id="notes-edit-{{ id }}" value="{{notes}}"
              style="display: none;">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card-text"><span class="favorite">Interest: </span>{{interested}}
            <span class="job-card-edit-field" value="{{interested}}" style="display: none;">
              <select class="form-control" id="interested-edit-{{id}}">
                <option>{{interested}}</option>
                <option>High</option>
                <option>Medium</option>
                <option>Low</option>
              </select>
            </span>
          </div>
        </div>
        <div class="col">
          <div class="card-text"><span class="favorite">Status: </span>{{status}}<span class="job-card-edit-field"
              value="{{status}}" style="display: none;">
              <select class="form-control" id="status-edit-{{id}}">
                <option>{{status}}</option>
                <option>Interested</option>
                <option>Working on Application</option>
                <option>Applied</option>
                <option>Interviewing</option>
                <option>Waiting for offer</option>
                <option>Offered Job</option>
                <option>Unknown</option>
                <option>No offer</option>
              </select>
            </span>
          </div>
        </div>
      </div>
      <br>
      <a href="#" id="{{id}}" class="edit-button btn btn-primary job-card-view-field">Edit</a>
      <a href="#" id="{{id}}" class="delete-button btn btn-primary job-card-view-field">Delete</a>
      <a href="#" id="{{id}}" style="display: none;" class="save-button btn btn-primary job-card-edit-field">Save</a>
      <a href="#" id="{{id}}" class="cancel-button btn btn-primary job-card-edit-field"
        style="display: none;">Cancel</a>
    </div>
  </div>

  {{/each}}
  {{/if}}
</div>
{{!-- </div>
</div> --}}
<script>

  $(document).ready(() => {
    // This file just does a GET request to figure out which user is logged in
    // and updates the HTML on the page
    $.get("/api/user_data").then(data => {
      $(".member-name").text(data.email);
    });
  });


</script>