<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/members">Members</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<h1>Favorite Jobs</h1>

<div class="container">
  {{!-- Form --}}
  <form>
    <fieldset>
      <legend class="legend">Favorite Jobs</legend>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="form-title" placeholder="Job Title">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="form-company" placeholder="Company">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="form-location" placeholder="Location">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="form-snippit" placeholder="Description">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="form-link" placeholder="url">
        </div>
        <div class="col">
          {{!-- <div class="form-group"> --}}
            {{!-- <label for="form-salary">Salary:</label> --}}
            <input type="number" class="form-control" id="form-salary" aria-describedby="salary" placeholder="Salary">
            {{!--
          </div> --}}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">Deadline:
          <input type="text" class="form-control" id="form-deadline">
        </div>

        {{!-- <div class="col">
          <input type="text" class="form-control" id="form-deadline" placeholder="Deadline">
        </div> --}}
        <div class="col">
          <label for="form-notes">Notes</label>
          <input type="text" class="form-control" id="form-notes">
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col">
          <label for="form-status">Application Status</label>
          <select class="form-control" id="form-status">
            <option>Interested</option>
            <option>Working on Application</option>
            <option>Applied</option>
            <option>Interviewing</option>
            <option>Waiting for offer</option>
            <option>Offered Job</option>
            <option>Unknown</option>
            <option>No offer</option>
          </select>
        </div>
        <div class="col">
          <div class="col">
            <label for="form-interest">Interest Level</label>
            <select class="form-control" id="form-interest">
              <option>High</option>
              <option>Medium</option>
              <option>Low</option>
            </select>
          </div>
        </div>


      </div>
      <br>
      <input class="btn btn-primary" type="submit" id="submit" value="Submit">
    </fieldset>
  </form>


  {{#if Jobs}}
  {{#each Jobs}}
  <div class="card">
    <h5 class="card-header" id="title-{{{id}}}">{{jobtitle}}</h5>
    <div class="card-body">
      <h5 class="card-title" id="company-{{id}}">{{company}}</h5>
      <br>
      <p class="card-text" id="salary-{{id}}"><span>Salary: </span>{{salary}}</p>
      <p class="card-text" id="formattedLocation-{{id}}"><span>Location: </span>{{formattedLocation}}</p>
      <p class="card-text" id="snippet-{{id}}"><span>Description: </span>{{snippet}}</p>
      <p class="card-text" id="url-{{id}}"><span>URL: </span>{{url}}</p>
      <p class="card-text" id="deadline-{{id}}"><span>Deadline: </span>{{deadline}}</p>
      <p class="card-text" id="interest-{{id}}"><span>Interest: </span>{{interested}}</p>
      <p class="card-text" id="notes-{{id}}"><span>Notes: </span>{{notes}}</p>
      <p class="card-text" id="status-{{id}}"><span>Status: </span>{{status}}</p>
      <a href="#" id="{{id}}" class="edit-button btn btn-primary">Edit</a>
      <a href="#" id="{{id}}" class="delete-button btn btn-primary">Delete</a>
    </div>
  </div>
  {{/each}}
  {{/if}}
</div>
</div>
<script>

  $(document).ready(() => {
    // This file just does a GET request to figure out which user is logged in
    // and updates the HTML on the page
    $.get("/api/user_data").then(data => {
      $(".member-name").text(data.email);
    });
  });


</script>